[submodule "source/docs_ngweb"]
	path = source/docs_ngweb
	url = git@github.com:nextgis/docs_ngweb.git
	branch = en
[submodule "source/docs_ngmobile"]
	path = source/docs_ngmobile
	url = git@github.com:nextgis/docs_ngmobile.git
	branch = en
[submodule "source/docs_ngweb_dev"]
	path = source/docs_ngweb_dev
	url = git@github.com:nextgis/nextgisweb.git
	branch = master
[submodule "source/docs_formbuilder"]
	path = source/docs_formbuilder
	url = git@github.com:nextgis/docs_formbuilder.git
	branch = en
[submodule "source/docs_ngmanager"]
	path = source/docs_ngmanager
	url = git@github.com:nextgis/docs_ngmanager.git
	branch = en
[submodule "source/ngmobile_dev/maplib_src"]
	path = source/ngmobile_dev/maplib_src
	url = git@github.com:nextgis/android_maplib.git
[submodule "source/ngmobile_dev/maplibui_src"]
	path = source/ngmobile_dev/maplibui_src
	url = git@github.com:nextgis/android_maplibui.git
[submodule "source/docs_ngqgis"]
	path = source/docs_ngqgis
	url = git@github.com:nextgis/docs_ngqgis.git
	branch = en
[submodule "source/qms_srv_dev"]
	path = source/qms_srv_dev
	url = git@github.com:nextgis/quickmapservices_server.git
[submodule "source/docs_ngcom"]
	path = source/docs_ngcom
	url = git@github.com:nextgis/docs_ngcom.git
	branch = en
[submodule "source/docs_formbuilder_dev"]
	path = source/docs_formbuilder_dev
	url = git@github.com:nextgis/formbuilder.git
	brach = master
[submodule "source/ngmobile_dev/ios_maplib_src"]
	path = source/ngmobile_dev/ios_maplib_src
	url = git@github.com:nextgis/ios_maplib.git
	branch = master
[submodule "source/docs_collector"]
	path = source/docs_collector
	url = git@github.com:nextgis/docs_collector.git
	branch = en
[submodule "source/docs_forestinspector"]
	path = source/docs_forestinspector
	url = git@github.com:nextgis/docs_forestinspector.git
	branch = master
[submodule "source/docs_howto"]
	path = source/docs_howto
	url = git@github.com:nextgis/docs_howto.git
	branch = master
[submodule "source/docs_ngbio"]
	path = source/docs_ngbio
	url = git@github.com:nextgis/docs_ngbio.git
	branch = master
[submodule "source/docs_ngcourses"]
	path = source/docs_ngcourses
	url = git@github.com:nextgis/docs_ngcourses.git
	branch = master
[submodule "source/docs_ogportal"]
	path = source/docs_ogportal
	url = git@github.com:nextgis/docs_ogportal.git
	branch = master
[submodule "source/docs_toolbox"]
	path = source/docs_toolbox
	url = git@github.com:nextgis/docs_toolbox.git
	branch = en
[submodule "source/docs_ngwdocker"]
	path = source/docs_ngwdocker
	url = git@github.com:nextgis/ngwdocker.git
	branch = master
[submodule "source/docs_data"]
	path = source/docs_data
	url = git@github.com:nextgis/docs_data.git
	branch = en
[submodule "source/docs_ngid"]
	path = source/docs_ngid
	url = git@github.com:nextgis/docs_ngid.git
	branch = en
