[submodule "source/docs_ngweb"]
	path = source/docs_ngweb
	url = git@github.com:nextgis/docs_ngweb.git
[submodule "source/docs_ngmobile"]
	path = source/docs_ngmobile
	url = git@github.com:nextgis/docs_ngmobile.git
[submodule "source/docs_ngweb_dev"]
	path = source/docs_ngweb_dev
	url = git@github.com:nextgis/nextgisweb.git
[submodule "source/docs_formbuilder"]
	path = source/docs_formbuilder
	url = git@github.com:nextgis/docs_formbuilder.git
[submodule "source/docs_ngmanager"]
	path = source/docs_ngmanager
	url = git@github.com:nextgis/docs_ngmanager.git
[submodule "source/ngmobile_dev/maplib_src"]
	path = source/ngmobile_dev/maplib_src
	url = git@github.com:nextgis/android_maplib.git
[submodule "source/ngmobile_dev/maplibui_src"]
	path = source/ngmobile_dev/maplibui_src
	url = git@github.com:nextgis/android_maplibui.git
[submodule "source/docs_howto"]
	path = source/docs_howto
	url = git@github.com:nextgis/docs_howto.git
[submodule "source/docs_ngbio"]
	path = source/docs_ngbio
	url = git@github.com:nextgis/docs_ngbio.git
[submodule "source/docs_ngqgis"]
	path = source/docs_ngqgis
	url = git@github.com:nextgis/docs_ngqgis.git
[submodule "source/docs_ngcourses"]
	path = source/docs_ngcourses
	url = git@github.com:nextgis/docs_ngcourses.git
[submodule "source/docs_ogportal"]
	path = source/docs_ogportal
	url = git@github.com:nextgis/docs_ogportal.git
