<div class="ngs-footer" role="contentinfo">
  <div class="ngs-footer__main">
    <div class="ngs-footer__brand">
      <a
        href="{{ pathto('', 1) }}"
        class="ngs-footer__logo-link"
        aria-label="NextGIS"
      >
        <img
          src="{{ pathto('_static/icons/big_logo_white.svg', 1) }}"
          data-src-light="{{ pathto('_static/icons/logo-large-footer.svg', 1) }}"
          data-src-dark="{{ pathto('_static/icons/big_logo_white.svg', 1) }}"
          alt="NextGIS"
          class="ngs-footer__logo"
        />
      </a>
      {% include "login.html" %}
      <div class="ngs-footer__social" aria-label="{{ _('Social media') }}">
        <a
          href="https://www.linkedin.com/company/nextgis"
          class="ngs-footer__social-link"
          aria-label="LinkedIn"
        >
          <img
            src="{{ pathto('_static/icons/linkedin.svg', 1) }}"
            alt=""
          />
        </a>
        <a
          href="https://github.com/nextgis/"
          class="ngs-footer__social-link"
          aria-label="GitHub"
        >
          <img
            src="{{ pathto('_static/icons/social_github.svg', 1) }}"
            alt=""
          />
        </a>
        <a
          href="https://www.youtube.com/@nextgis_channel
"
          class="ngs-footer__social-link"
          aria-label="YouTube"
        >
          <img
            src="{{ pathto('_static/icons/social_youtube.svg', 1) }}"
            alt=""
          />
        </a>
        <a
          href="https://x.com/nextgis"
          class="ngs-footer__social-link"
          aria-label="X"
        >
          <img src="{{ pathto('_static/icons/social_x.svg', 1) }}" alt="" />
        </a>
      </div>
    </div>

    <div class="ngs-footer__content">
      <div class="ngs-footer__column">
        <p class="ngs-footer__title">{{ _("Products") }}</p>
        <ul class="ngs-footer__links">
          <li>
            <a href="https://nextgis.com/nextgis-web">Web GIS</a>
          </li>
          <li>
            <a href="https://nextgis.com/seamless-qgis-integration/">QGIS Teamspace</a>
          </li>
          <li>
            <a href="https://nextgis.com/nextgis-geoservices/">Self-hosted basemaps</a>
          </li>
          <li>
            <a href="https://nextgis.com/datasets/">Data</a>
          </li>
        </ul>
      </div>

      <div class="ngs-footer__column">
        <p class="ngs-footer__title">{{ _("Resources") }}</p>
        <ul class="ngs-footer__links">
          <li>
            <a href="https://docs.nextgis.com/"
              >{{ _("Documentation") }}</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/@nextgis_channel"
              >{{ _("Video") }}</a
            >
          </li>
          <li>
            <a href="https://community.nextgis.com/"
              >{{ _("Community") }}</a
            >
          </li>
          <li></li>
          <li>
            <a href="https://nextgis.com/support"
              >{{ _("Support") }}</a
            >
          </li>
        </ul>
      </div>

      <div class="ngs-footer__column">
        <p class="ngs-footer__title">{{ _("Company") }}</p>
        <ul class="ngs-footer__links">
          <li>
            <a href="https://nextgis.com/about">{{ _("About") }}</a>
          </li>
          <li>
            <a href="https://nextgis.com/blog/">{{ _("News") }}</a>
          </li>
          <li>
            <a href="https://nextgis.com/contact"
              >{{ _("Contacts") }}</a
            >
          </li>
          <li>
            <a href="https://nextgis.com/partnership/"
              >Partners</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ngs-footer__bottom">
    <p class="ngs-footer__copyright">&#169; {{ copyright }}</p>
  </div>
</div>
