<main class="homepage-main">
  <section class="section" id="section-need">
    <h1 class="section-title"> Welcome to NextGIS knowledge base! <a class="headerlink" href="#section-need" title="{{ _('Link to this heading') }}">#</a> </h1>
    <p class="section-subtitle"> Pick what you need right now: </p>

    <div class="card-grid card-grid--need">
      <a href="https://docs.nextgis.com/docs_ngcom/source/index.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_play_button.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Get started</p>
            <p class="card__text">Walk through creating NextGIS account</p>
          </div>
        </div>
      </a>

      <a href="#section-faq" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_question_sign.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">FAQ</p>
            <p class="card__text">Popular user questions</p>
          </div>
        </div>
      </a>

      <a href="#section-guides" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_book.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">User guides</p>
            <p class="card__text"> Detailed documentation of all the products </p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_howto/source/index.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_book.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Tutorials</p>
            <p class="card__text"> Discover our platform using sample data and step-by-step guides </p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_ngweb/source/general.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_map.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Store and publish geodata</p>
            <p class="card__text">All about Web Maps and geodata</p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_ngcom/source/ngqgis_connect.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card-icon-qgis.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Seamless QGIS integration</p>
            <p class="card__text">Manage your Web GIS from QGIS</p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_ngcom/source/tracking.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_papper_plane.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Tracking</p>
            <p class="card__text">Monitor moving assets on a Web Map with GPS</p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_ngcom/source/collector.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card-icon-mobile.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Data collection</p>
            <p class="card__text">Mobile app to collect data in the field</p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.com/docs_geoserv_prem/source/intro.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_cube.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Self-hosted basemaps</p>
            <p class="card__text">Deploy basemaps on your own server</p>
          </div>
        </div>
      </a>

      <a href="https://data.nextgis.com/en/howto/order/" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img src="{{ pathto('_static/icons/card_icon_geodata_package.svg', 1) }}" alt="">
          </div>
          <div class="card__body">
            <p class="card__title">Spatial Data</p>
            <p class="card__text">Pre-processed vector and raster datasets for your GIS</p>
          </div>
        </div>
      </a>


    </div>
  </section>

  <section class="section" id="section-guides">
    <h2 class="section-title"> User guides <a class="headerlink" href="#section-guides" title="{{ _('Link to this heading') }}">#</a> </h2>
    <p class="section-subtitle"> Detailed description and step-by-step instructions for our software and services. </p>

    <div class="subsection" id="section-guides-users">
      <h3 class="subsection-title"> <img src="{{ pathto('_static/icons/subheader-icon_screen_for_users.svg', 1) }}" alt=""> <span>For users</span> <a class="headerlink" href="#section-guides-users" title="{{ _('Link to this heading') }}">#</a> </h3>

        <h4 class="subsection-title"> <span>Cloud solutions</span> <a class="headerlink" href="#section-guides-cloud" title="{{ _('Link to this heading') }}">#</a> </h4>

          <div class="card-grid card-grid--products">
            <a href="https://docs.nextgis.com/docs_ngweb/source/index.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-ngw_cloud.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Web</p>

                <p class="card__text">For maps and geodata</p>
              </div>
            </a>

            <a href="https://docs.nextgis.com/docs_toolbox/source/index.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-toolbox.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Toolbox</p>
                <p class="card__text">Geoprocessing</p>
              </div>
            </a>

            <a href="https://docs.nextgis.com/docs_geoserv_prem/source/index.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-geoservices.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS GeoServices</p>
                <p class="card__text">Self-hosted basemaps</p>
              </div>
            </a>

            <a href="https://docs.nextgis.com/docs_data/source/index.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-data.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Data</p>
                <p class="card__text">Spacial data</p>
              </div>
            </a>

            <a href="https://qms.nextgis.com/about" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-qms.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">QuickMapServices</p>
                <p class="card__text">Public catalog of GIS data services</p>
              </div>
            </a>
          </div>

          <h4 class="subsection-title"> <span>Desktop</span> <a class="headerlink" href="#section-guides-desktop" title="{{ _('Link to this heading') }}">#</a> </h4>
          <div class="card-grid card-grid--products">


            <a href="https://docs.nextgis.com/docs_ngconnect/source/index.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/card-icon-connect.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Connect</p>
                <p class="card__text">QGIS plugin for Web GIS integration</p>
              </div>
            </a>



            <a href="https://docs.nextgis.com/docs_ngqgis/source/plugins.html" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img src="{{ pathto('_static/icons/icon_plugins.svg', 1) }}" alt="">
              </div>
              <div class="card__body">
                <p class="card__title">Other QGIS plugins</p>
                <p class="card__text">QMS search etc</p>
              </div>
            </a>
          </div>

          <h4 class="subsection-title"> <span>Mobile</span> <a class="headerlink" href="#section-guides-mobile" title="{{ _('Link to this heading') }}">#</a> </h4>
            <div class="card-grid card-grid--products">
              <a href="https://docs.nextgis.com/docs_ngmobile/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-mobile.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Mobile</p>
                  <p class="card__text">Full-functioning GIS in your pocket</p>
                </div>
              </a>

              <a href="https://docs.nextgis.com/docs_collector/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-collector.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Collector</p>
                  <p class="card__text">App for collaborative data collection</p>
                </div>
              </a>

              <a href="https://docs.nextgis.com/docs_ngtracker/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-tracker.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Tracker</p>
                  <p class="card__text">GPS-tracking app</p>
                </div>
              </a>
            </div>
            </div>

          <h4 class="subsection-title"> <span>On-premise</span> <a class="headerlink" href="#section-guides-mobile" title="{{ _('Link to this heading') }}">#</a> </h4>
            <div class="card-grid card-grid--products">
              <a href="https://docs.nextgis.com/docs_ngweb/source/ngw_op.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-ngw_onp.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Web</p>
                  <p class="card__text">For maps and geodata</p>
                </div>
              </a>
              <a href="https://docs.nextgis.com/docs_ngweb_3D/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-3d.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Web 3D</p>
                  <p class="card__text">Extention to work with 3D data</p>
                </div>
              </a>
              <a href="https://docs.nextgis.com/docs_toolbox_prem/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-toolbox.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Toolbox</p>
                  <p class="card__text">Geoprocessing</p>
                </div>
              </a>
              <a href="https://docs.nextgis.com/docs_geoserv_prem/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-geoservices.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS GeoServices</p>
                  <p class="card__text">Self-hosted basemaps</p>
                </div>
              </a>
              <a href="https://docs.nextgis.com/docs_ngid/source/index.html" class="card card--product">
                <div class="card__icon card__icon--lg">
                  <img src="{{ pathto('_static/icons/card-icon-ngidop.svg', 1) }}" alt="">
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS ID</p>
                  <p class="card__text">User management</p>
                </div>
              </a>
            </div>

    <div class="subsection" id="section-guides-dev">
      <h3 class="subsection-title"> <img src="{{ pathto('_static/icons/for_developers_icon.svg', 1) }}" alt=""> <span>For developers</span> <a class="headerlink" href="#section-guides-dev" title="{{ _('Link to this heading') }}">#</a> </h3>

      <div class="card-grid card-grid--dev">
        <a href="https://docs.nextgis.com/docs_ngweb_dev/doc/toc.html" class="card card--dev">
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img src="{{ pathto('_static/icons/card-icon_web.svg', 1) }}" alt="">
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Web</p>
              <p class="card__text">API documentation</p>
            </div>
          </div>
        </a>

        <a href="https://docs.nextgis.com/docs_ngweb/source/op_install.html" class="card card--dev">
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img src="{{ pathto('_static/icons/card-icon_docker.svg', 1) }}" alt="">
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Docker</p>
              <p class="card__text">Deploy our software on your server</p>
            </div>
          </div>
        </a>

        <a href="https://docs.nextgis.com/qms_srv_dev/doc/api.html" class="card card--dev">
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img src="{{ pathto('_static/icons/card-icon-qms.svg', 1) }}" alt="">
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS QMS Service API</p>
              <p class="card__text">Public API for app development</p>
            </div>
          </div>
        </a>



        <a href="https://docs.nextgis.com/tracker_hub_dev/source/main.html" class="card card--dev">
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img src="{{ pathto('_static/icons/card-icon-tracker.svg', 1) }}" alt="">
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Tracker Hub</p>
              <p class="card__text">Extention for movement monitoring</p>
            </div>
          </div>
        </a>


      </div>
    </div>
  </section>

  <section class="section" id="section-faq">
    <h2 class="section-title"> FAQ <a class="headerlink" href="#section-faq" title="{{ _('Link to this heading') }}">#</a> </h2>
    <p class="section-subtitle"> Answers to most popular questions, grouped by user scenarios. </p>

    <div class="faq-grid">
      <div class="faq-column">
        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon_faq_account.svg', 1) }}" alt="">
            <span class="faq-card__title">Account</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/create.html#nextgis-id">How to sing up?</a>
              </li>
              <li> <span class="faq-link">How do I know my ID?</span> <br> <span>Your NextGIS ID is the email address you used to create the account.</span> </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/subscription.html#my-sub-upgrade">How to subscribe?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/faq_webgis.html#ngcom-change-passwords-webgis">What if I forgot my password?</a>
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon_faq_users_team.svg', 1) }}" alt="">
            <span class="faq-card__title">Users and teams</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/create.html">How to create a user?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/teams.html">What is a team?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/teams.html#ngcom-team-management">How to add a user to my team?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/permissions.html">How to set up access rights?</a>
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon_faq_sys_coord.svg', 1) }}" alt="">
            <span class="faq-card__title">Spacial reference systems</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">

              <li> <span class="faq-link">The data is displayed in the wrong place, how to fix it?</span> <br> <span>Most likely, you need to pick the correct SRS in the layer properties</span> </li>

              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/ngw_srs.html#ngw-srs-custom">How to add SRS to Web GIS?</a>
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/lock.svg', 1) }}" alt="">
            <span class="faq-card__title">Access management</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/permissions.html">How to make my Web GIS private?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/permissions.html#ngcom-permissions-guest-webmap">How to give access to a Web Map?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/look.html#ngw-res-export">How to hide the Export button?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/permissions.html#ngcom-permissions-tab">How to set up access rights for users?</a>
              </li>
            </ul>
          </div>
        </details>
      </div>

      <div class="faq-column">
        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon_faq_web.svg', 1) }}" alt="">
            <span class="faq-card__title">Web GIS</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/create_webgis.html#ngcom-webgis-signin">How to log in to my Web GIS?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/create_resource.html">How to upload data?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/webmaps_admin.html#ngw-map-create">How to create Web Map?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/layers_settings.html#ngweb-admin-layers-attr">How to change field labels?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngconnect/source/filter.html#ngc-find-id">How to find reasource ID?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/look.html">How to change the look of my Web GIS?</a>
              </li>
              <li>
                <a class="faq-link" href="https://code.nextgis.com/readme">How to make a custom interface for my Web GIS?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/embed_webmap.html">How to embed a Web Map to a website?</a>
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon_faq_qgis.svg', 1) }}" alt="">
            <span class="faq-card__title">QGIS + Web GIS</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngqgis/source/raster_ref.html">How to georeference a raster? - coming soon</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngconnect/source/ngc_install.html#ng-connect-new-connection">How to add connection in NextGIS Connect?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngconnect/source/edit.html#connect-multiuser">Can several user edit the same layer?</a>
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img class="faq-card__icon" src="{{ pathto('_static/icons/card-icon-collector.svg', 1) }}" alt="">
            <span class="faq-card__title">Data collection</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngcom/source/tracking.html#nextgis-mobile-nextgis-collector">What apps can record tracks?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_collector/source/auth.html">How to log in to NextGIS Collector?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_collector/source/operations.html">How to join a project?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngweb/source/trackers.html">How to view track on Web Map?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngtracker/source/setting_up.html#ngtr-set-send">How to send tracks to Web GIS?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_ngmobile/source/ngw_integration.html#ngmobile-synchronization-layer-webgis">How to sync Web GIS with Mobile?</a>
              </li>
              <li>
                <a class="faq-link" href="https://docs.nextgis.com/docs_collector/source/operations.html#ngcol-offline">How to sync data in Collector?</a>
              </li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </section>

  <section class="section" id="section-resources">
    <h2 class="section-title"> More resources <a class="headerlink" href="#section-resources" title="{{ _('Link to this heading') }}">#</a> </h2>
    <p class="section-subtitle"> Materials that can help you explore the functionality of NextGIS. </p>

    <div class="card-grid card-grid--resources">
      <a href="https://docs.nextgis.com/pdf.html" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img src="{{ pathto('_static/icons/card_icon_doc.svg', 1) }}" alt="">
        </div>
        <div class="card__body">
          <p class="card__title">PDF documentation</p>
          <p class="card__text"> Download user guides to study offline </p>
          <ul class="resource-list">
            <li><span class="resource-link">NextGIS Web</span></li>
            <li><span class="resource-link">NextGIS QGIS</span></li>
            <li><span class="resource-link">NextGIS Mobile</span></li>
          </ul>
        </div>
      </a>

      <a href="https://docs.nextgis.com/glossary.html" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img src="{{ pathto('_static/icons/card_icon_glossary.svg', 1) }}" alt="">
        </div>
        <div class="card__body">
          <p class="card__title">Glossary</p>
          <p class="card__text">Explanation of terms</p>
          <ul class="resource-list">
            <li><span class="resource-link">NextGIS terms</span></li>
            <li><span class="resource-link">Data formats</span></li>
            <li><span class="resource-link">Abbreviations</span></li>
          </ul>
        </div>
      </a>

      <a href="https://www.youtube.com/@nextgis" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img src="{{ pathto('_static/icons/card_icon_video.svg', 1) }}" alt="">
        </div>
        <div class="card__body">
          <p class="card__title">Videos</p>
          <p class="card__text"> Watch our video tutorials and platform overviews on YouTube:</p>
          <ul class="resource-list">
            <li><span class="resource-link">NextGIS 101</span></li>
            <li><span class="resource-link">Demo</span></li>
            <li><span class="resource-link">Webinars</span></li>
            <li><span class="resource-link">Case studies</span></li>
          </ul>
        </div>
      </a>

      <a href="https://nextgis.com/blog/" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img src="{{ pathto('_static/icons/card_icon_blog.svg', 1) }}" alt="">
        </div>
        <div class="card__body">
          <p class="card__title">Blog</p>
          <p class="card__text">Latest news, updates, expert posts. </p>
          <ul class="resource-list">
            <li><span class="resource-link">Updates</span></li>
            <li><span class="resource-link">New products</span></li>
            <li><span class="resource-link">Case studies</span></li>
            <li><span class="resource-link">In-depth articles</span></li>
          </ul>
        </div>
      </a>

      <a href="https://events.nextgis.com/" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img src="{{ pathto('_static/icons/card_icon_events.svg', 1) }}" alt="">
        </div>
        <div class="card__body">
          <p class="card__title">Events</p>
          <p class="card__text"> Online and offline events we organise or take part in. </p>
          <ul class="resource-list">
            <li><span class="resource-link">Webinars</span></li>
            <li><span class="resource-link">Presentations</span></li>
            <li><span class="resource-link">Conferences</span></li>
            <li><span class="resource-link">Exibitions</span></li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</main>
