<div class="sidebar-secondary-items sidebar-secondary__inner">
  <div class="page-toc tocsection onthispage">
    <nav id="pst-page-toc-nav" aria-label="{{ _('Homepage navigation') }}">
      <ul class="nav section-nav flex-column">
        <li class="toc-entry nav-item toc-h2">
          <a class="nav-link" href="#section-need">{{ _('I need') }}</a>
        </li>

        <li class="toc-entry nav-item toc-h2">
          <a class="nav-link" href="#section-guides">{{ _('Detailed user guides') }}</a>

          <ul class="nav section-nav flex-column">
            <li class="toc-entry nav-item toc-h3">
              <a class="nav-link" href="#section-guides-users">{{ _('For users') }}</a>
            </li>
            <li class="toc-entry nav-item toc-h3">
              <a class="nav-link" href="#section-guides-dev">{{ _('For developers') }}</a>
            </li>
          </ul>
        </li>

        <li class="toc-entry nav-item toc-h2">
          <a class="nav-link" href="#section-faq">{{ _('FAQ') }}</a>
        </li>

        <li class="toc-entry nav-item toc-h2">
          <a class="nav-link" href="#section-resources">{{ _('More resources') }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
