<main class="homepage-main">
  <section class="section" id="section-need">
    <h1 class="section-title">
      Добро пожаловать в базу знаний NextGIS!
      <a class="headerlink" href="#section-need" title="{{ _('Link to this heading') }}"
        >#</a
      >
    </h1>
    <p class="section-subtitle">
      Выберите то, что вам сейчас необходимо, чтобы быстро найти нужную
      информацию.
    </p>

    <div class="card-grid card-grid--need">
      <a
        href="https://docs.nextgis.ru/docs_ngcom/source/index.html"
        class="card card--need"
      >
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_play_button.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Начало работы с платформой</p>
            <p class="card__text">Быстрый старт с NextGIS платформой</p>
          </div>
        </div>
      </a>

      <a href="#section-faq" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_question_sign.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Самые частые вопросы</p>
            <p class="card__text">Ответы на популярные вопросы</p>
          </div>
        </div>
      </a>

      <a href="#section-guides" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_book.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Документация</p>
            <p class="card__text">
              Описание функционала и инструкции по всем продуктам
            </p>
          </div>
        </div>
      </a>

      <a href="https://docs.nextgis.ru/docs_howto/source/index.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_book.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Пошаговые руководства</p>
            <p class="card__text">
              Познакомьтесь с возможностями платформы на примерах
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/docs_ngweb/source/general.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_map.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Хранение и публикация геоданных</p>
            <p class="card__text">Всё о работе с веб-картами и геоданными</p>
          </div>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/docs_ngcom/source/ngqgis_connect.html" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card-icon-qgis.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Интеграция QGIS и Веб ГИС</p>
            <p class="card__text">Связывание настольного и веб-приложения</p>
          </div>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/docs_ngcom/source/tracking.html"
        class="card card--need"
      >
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_papper_plane.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Трекинг</p>
            <p class="card__text">Отслеживание объектов на карте по GPS</p>
          </div>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/docs_ngcom/source/collector.html"
        class="card card--need"
      >
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card-icon-mobile.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Сбор данных</p>
            <p class="card__text">Мобильное приложение для сбора данных</p>
          </div>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/docs_geoserv_prem/source/intro.html"
        class="card card--need"
      >
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_cube.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Автономные базовые карты</p>
            <p class="card__text">Развёртывание карт на собственном сервере</p>
          </div>
        </div>
      </a>

      <a
        href="https://data.nextgis.com/ru/howto/order/"
        class="card card--need"
      >
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_geodata_package.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Наборы геоданных</p>
            <p class="card__text">Получение пространственных данных</p>
          </div>
        </div>
      </a>

      <a href="https://nextgis.ru/services/#migration" class="card card--need">
        <div class="card__row">
          <div class="card__icon card__icon--md">
            <img
              src="{{ pathto('_static/icons/card_icon_platform_migration.svg', 1) }}"
              alt=""
            />
          </div>
          <div class="card__body">
            <p class="card__title">Миграция с других платформ</p>
            <p class="card__text">Переход на NextGIS с других систем</p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="section" id="section-guides">
    <h2 class="section-title">
      Документация
      <a class="headerlink" href="#section-guides" title="{{ _('Link to this heading') }}"
        >#</a
      >
    </h2>
    <p class="section-subtitle">
      Подробное описание функционала и пошаговые инструкции для ПО и сервисов.
    </p>

    <div class="subsection" id="section-guides-users">
      <h3 class="subsection-title">
        <img
          src="{{ pathto('_static/icons/subheader-icon_screen_for_users.svg', 1) }}"
          alt=""
        />
        <span>Для пользователей</span>
        <a
          class="headerlink"
          href="#section-guides-users"
          title="{{ _('Link to this heading') }}"
          >#</a
        >
      </h3>

        <h4 class="subsection-title"> 
          <span>Облачные решения</span>
          <a
            class="headerlink"
            href="#section-guides-cloud"
            title="{{ _('Link to this heading') }}"
            >#</a
          > 
        </h4>

          <div class="card-grid card-grid--products">
            <a
              href="https://docs.nextgis.ru/docs_ngweb/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-ngw_cloud.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Web</p>

                <p class="card__text">Платформа для карт и геоданных</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_toolbox/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-toolbox.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Toolbox</p>
                <p class="card__text">Инструменты геообработки</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_geoserv_prem/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-geoservices.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS GeoServices</p>
                <p class="card__text">Автономные базовые карты</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_data/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-data.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Data</p>
                <p class="card__text">Наборы пространственных данных</p>
              </div>
            </a>

            <a href="https://qms.nextgis.com/about" class="card card--product">
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-qms.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">QuickMapServices</p>
                <p class="card__text">Публичный каталог геоданных для ГИС</p>
              </div>
            </a>
          </div>

          <h4 class="subsection-title">  
            <span>Настольные</span>
                <a
                  class="headerlink"
                  href="#section-guides-desktop"
                  title="{{ _('Link to this heading') }}"
                  >#</a
                > 
          </h4>
          <div class="card-grid card-grid--products">

            <a
              href="https://docs.nextgis.ru/docs_ngqgis/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-qgis.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS QGIS</p>
                <p class="card__text">Отечественная ГИС с расширениями</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_ngconnect/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-connect.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NextGIS Connect</p>
                <p class="card__text">Модуль QGIS для интеграции с Веб ГИС</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_rosreestr_tools/source/index.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/card-icon-rosreestr-tools.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">NGQ Rosreestr Tools</p>
                <p class="card__text">Работа с данными НСПД в QGIS</p>
              </div>
            </a>

            <a
              href="https://docs.nextgis.ru/docs_ngqgis/source/plugins.html"
              class="card card--product"
            >
              <div class="card__icon card__icon--lg">
                <img
                  src="{{ pathto('_static/icons/icon_plugins.svg', 1) }}"
                  alt=""
                />
              </div>
              <div class="card__body">
                <p class="card__title">Модули для QGIS</p>
                <p class="card__text">Поиск в QMS и др.</p>
              </div>
            </a>
          </div>

          <h4 class="subsection-title">
            <span>Мобильные</span>
                <a
                  class="headerlink"
                  href="#section-guides-mobile"
                  title="{{ _('Link to this heading') }}"
                  >#</a
                > 
          </h4>
            <div class="card-grid card-grid--products">
              <a
                href="https://docs.nextgis.ru/docs_ngmobile/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-mobile.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Mobile</p>
                  <p class="card__text">Мобильная ГИС</p>
                </div>
              </a>

              <a
                href="https://docs.nextgis.ru/docs_collector/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-collector.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Collector</p>
                  <p class="card__text">Приложение для сбора данных в команде</p>
                </div>
              </a>

              <a
                href="https://docs.nextgis.ru/docs_ngtracker/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-tracker.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Tracker</p>
                  <p class="card__text">GPS-трекинг</p>
                </div>
              </a>
            </div>
            </div>

          <h4 class="subsection-title">
            <span>На своём сервере</span>
                <a
                  class="headerlink"
                  href="#section-guides-mobile"
                  title="{{ _('Link to this heading') }}"
                  >#</a
                > 
          </h4>
            <div class="card-grid card-grid--products">
              <a
                href="https://docs.nextgis.ru/docs_ngweb/source/ngw_op.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-ngw_onp.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Web</p>
                  <p class="card__text">Платформа для карт и геоданных</p>
                </div>
              </a>
              <a
                href="https://docs.nextgis.ru/docs_ngweb_3D/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-3d.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Web 3D</p>
                  <p class="card__text">Расширение для работы с 3D данными</p>
                </div>
              </a>
              <a
                href="https://docs.nextgis.ru/docs_toolbox_prem/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-toolbox.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS Toolbox</p>
                  <p class="card__text">Инструменты геообработки</p>
                </div>
              </a>
              <a
                href="https://docs.nextgis.ru/docs_geoserv_prem/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-geoservices.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS GeoServices</p>
                  <p class="card__text">Автономные базовые карты</p>
                </div>
              </a>
              <a
                href="https://docs.nextgis.ru/docs_ngid/source/index.html"
                class="card card--product"
              >
                <div class="card__icon card__icon--lg">
                  <img
                    src="{{ pathto('_static/icons/card-icon-ngidop.svg', 1) }}"
                    alt=""
                  />
                </div>
                <div class="card__body">
                  <p class="card__title">NextGIS ID</p>
                  <p class="card__text">Управление пользователями</p>
                </div>
              </a>
            </div>

    <div class="subsection" id="section-guides-dev">
      <h3 class="subsection-title">
        <img
          src="{{ pathto('_static/icons/for_developers_icon.svg', 1) }}"
          alt=""
        />
        <span>Для разработчиков</span>
        <a
          class="headerlink"
          href="#section-guides-dev"
          title="{{ _('Link to this heading') }}"
          >#</a
        >
      </h3>

      <div class="card-grid card-grid--dev">
        <a
          href="https://docs.nextgis.ru/docs_ngweb_dev/doc/toc.html"
          class="card card--dev"
        >
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img
                src="{{ pathto('_static/icons/card-icon_web.svg', 1) }}"
                alt=""
              />
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Web</p>
              <p class="card__text">Документация API</p>
            </div>
          </div>
        </a>

        <a
          href="https://docs.nextgis.ru/docs_ngweb/source/op_install.html"
          class="card card--dev"
        >
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img
                src="{{ pathto('_static/icons/card-icon_docker.svg', 1) }}"
                alt=""
              />
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Docker</p>
              <p class="card__text">Для самостоятельной установки ПО</p>
            </div>
          </div>
        </a>

        <a
          href="https://docs.nextgis.ru/qms_srv_dev/doc/api.html"
          class="card card--dev"
        >
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img
                src="{{ pathto('_static/icons/card-icon-qms.svg', 1) }}"
                alt=""
              />
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS QMS Service API</p>
              <p class="card__text">Публичный API для разработки приложений</p>
            </div>
          </div>
        </a>



        <a
          href="https://docs.nextgis.ru/tracker_hub_dev/source/main.html"
          class="card card--dev"
        >
          <div class="card__row">
            <div class="card__icon card__icon--md">
              <img
                src="{{ pathto('_static/icons/card-icon-tracker.svg', 1) }}"
                alt=""
              />
            </div>
            <div class="card__body">
              <p class="card__title">NextGIS Tracker Hub</p>
              <p class="card__text">Модуль мониторинга движущихся объектов</p>
            </div>
          </div>
        </a>


      </div>
    </div>
  </section>

  <section class="section" id="section-faq">
    <h2 class="section-title">
      Часто задаваемые вопросы
      <a class="headerlink" href="#section-faq" title="{{ _('Link to this heading') }}"
        >#</a
      >
    </h2>
    <p class="section-subtitle">
      Ответы на самые популярные вопросы, сгруппированные по категориям
      пользователей и сценариям работы.
    </p>

    <div class="faq-grid">
      <div class="faq-column">
        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon_faq_account.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Аккаунт</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/create.html#nextgis-id"
                  >Как зарегистрироваться?</a
                >
              </li>
              <li>
                <span class="faq-link">Как узнать свой ID?</span>
                <br>
                <span>Ваш NextGIS ID - это адрес электронной почты, на который вы регистрировались</span>
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/subscription.html#my-sub-upgrade"
                  >Как оформить подписку?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/faq_webgis.html#ngcom-change-passwords-webgis"
                  >Как восстановить пароль?</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon_faq_users_team.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Пользователи и команда</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/create.html"
                  >Как создать пользователя?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/teams.html"
                  >Что такое команда?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/teams.html#ngcom-team-management"
                  >Как добавить пользователя в свою команду?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/permissions.html"
                  >Как настроить права доступа?</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon_faq_sys_coord.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Система координат</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/srs.html#ngq-projections-menu"
                  >Как изменить систему координат?</a
                >
              </li>
              <li>
                <span class="faq-link"
                  >Данные отображаются не там, как исправить?</span
                >
                <br>
                <span>Скорее всего, указана неверная система координат, нужно выбрать корректную в свойствах слоя</span>
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/srs.html#ngq-custom-projections"
                  >Как добавить систему координат в QGIS</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/ngw_srs.html#ngw-srs-custom"
                  >Как добавить систему координат в Веб ГИС</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/lock.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Настройка доступа</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/permissions.html"
                  >Как закрыть Веб ГИС от посторонних?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/permissions.html#ngcom-permissions-guest-webmap"
                  >Как открыть доступ к карте?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/look.html#ngw-res-export"
                  >Как убрать кнопку экспорта?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/permissions.html#ngcom-permissions-tab"
                  >Как настроить права пользователей?</a
                >
              </li>
            </ul>
          </div>
        </details>
      </div>

      <div class="faq-column">
        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon_faq_web.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Веб ГИС</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/create_webgis.html#ngcom-webgis-signin"
                  >Как войти в Веб ГИС?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/create_resource.html"
                  >Как загрузить данные?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/webmaps_admin.html#ngw-map-create"
                  >Как создать веб-карту?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/layers_settings.html#ngweb-admin-layers-attr"
                  >Как изменить подписи полей?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngconnect/source/filter.html#ngc-find-id"
                  >Как узнать ID ресурса?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/look.html"
                  >Как изменить внешний вид Веб ГИС?</a
                >
              </li>
              <li>
                <a class="faq-link" href="https://code.nextgis.com/readme"
                  >Как сделать интерфейс, которого нет в стандартном
                  варианте?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/embed_webmap.html"
                  >Как встроить карту на сайт?</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon_faq_qgis.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">QGIS + Веб ГИС</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/raster_ref.html"
                  >Как привязать растр?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/labeling.html"
                  >Как настроить подписи?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/map_composer.html"
                  >Как создать макет для печати?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngconnect/source/ngc_install.html#ng-connect-new-connection"
                  >Как создать подключение в NextGIS Connect?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngconnect/source/edit.html#connect-multiuser"
                  >Могут ли несколько пользователей редактировать один слой?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/area.html"
                  >Как узнать длину/площадь объекта?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngqgis/source/raster_op.html#ngqgis-terrain"
                  >Как работать с ЦМР?</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="card faq-card">
          <summary>
            <img
              class="faq-card__icon"
              src="{{ pathto('_static/icons/card-icon-collector.svg', 1) }}"
              alt=""
            />
            <span class="faq-card__title">Сбор данных</span>
          </summary>
          <div class="faq-card__content">
            <ul class="faq-link-list">
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngcom/source/tracking.html#nextgis-mobile-nextgis-collector"
                  >В каких приложениях можно записывать треки?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_collector/source/auth.html"
                  >Как зайти в приложение NextGIS Collector?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_collector/source/operations.html"
                  >Как подключиться к проекту?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngweb/source/trackers.html"
                  >Как показать трек на веб-карте?</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngtracker/source/setting_up.html#ngtr-set-send"
                  >Отправка треков в Веб ГИС</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_ngmobile/source/ngw_integration.html#ngmobile-synchronization-layer-webgis"
                  >Синхронизация с Веб ГИС в Mobile</a
                >
              </li>
              <li>
                <a
                  class="faq-link"
                  href="https://docs.nextgis.ru/docs_collector/source/operations.html#ngcol-offline"
                  >Синхронизация в Collector</a
                >
              </li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </section>

  <section class="section" id="section-resources">
    <h2 class="section-title">
      Дополнительные ресурсы
      <a
        class="headerlink"
        href="#section-resources"
        title="{{ _('Link to this heading') }}"
        >#</a
      >
    </h2>
    <p class="section-subtitle">
      Дополнительные материалы, которые помогут вам в изучении платформы
      NextGIS.
    </p>

    <div class="card-grid card-grid--resources">
      <a href="https://docs.nextgis.ru/pdf.html" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_doc.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">Документация в PDF</p>
          <p class="card__text">
            Скачайте полную документацию по отдельным продуктам в PDF для
            изучения офлайн.
          </p>
          <ul class="resource-list">
            <li><span class="resource-link">NextGIS Web</span></li>
            <li><span class="resource-link">NextGIS QGIS</span></li>
            <li><span class="resource-link">NextGIS Mobile</span></li>
          </ul>
        </div>
      </a>

      <a
        href="https://docs.nextgis.ru/glossary.html"
        class="card card--resource"
      >
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_glossary.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">Глоссарий</p>
          <p class="card__text">Cловарь терминов</p>
          <ul class="resource-list">
            <li><span class="resource-link">Термины NextGIS</span></li>
            <li><span class="resource-link">Описание форматов данных</span></li>
            <li><span class="resource-link">Расшифровка сокращений</span></li>
          </ul>
        </div>
      </a>

      <article class="card card--resource">
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_video.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">Видеоматериалы</p>
          <p class="card__text">
            Обучающие видео на наших каналах
            <a class="resource-link" href="https://rutube.ru/channel/43722113/"
              >RuTube</a
            >
            и
            <a class="resource-link" href="https://www.youtube.com/@nextgis_ru"
              >YouTube</a
            >.
          </p>
          <ul class="resource-list">
            <li><span class="resource-link">Базовые уроки</span></li>
            <li><span class="resource-link">Демо</span></li>
            <li><span class="resource-link">Вебинары</span></li>
            <li><span class="resource-link">Кейсы клиентов</span></li>
          </ul>
        </div>
      </article>

      <article class="card card--resource">
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_courses.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">Обучение и курсы</p>
          <p class="card__text">
            Основы работы с геоданными и освоение ПО и сервисов NextGIS.
          </p>
          <ul class="resource-list">
            <li>
              <a class="resource-link" href="https://nextgis.ru/courses/"
                >Курсы</a
              >
            </li>
            <li>
              <a
                class="resource-link"
                href="https://nextgis.ru/ngw-qgis-mgu/"
                >Повышение квалификации</a
              >
            </li>
            <li>
              <a class="resource-link" href="https://nextgis.ru/consultation/"
                >Консультации</a
              >
            </li>
            <li>
              <a class="resource-link" href="https://nextgis.ru/practice/"
                >Студенческая практика</a
              >
            </li>
          </ul>
        </div>
      </article>

      <a href="https://nextgis.ru/blog/" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_blog.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">Блог</p>
          <p class="card__text">
            Последние новости, обновления продуктов, экспертные статьи.
          </p>
          <ul class="resource-list">
            <li><span class="resource-link">Обновления ПО</span></li>
            <li><span class="resource-link">Новые продукты</span></li>
            <li><span class="resource-link">Кейсы использования</span></li>
            <li><span class="resource-link">Технические статьи</span></li>
          </ul>
        </div>
      </a>

      <a href="https://events.nextgis.ru/" class="card card--resource">
        <div class="card__icon card__icon--md">
          <img
            src="{{ pathto('_static/icons/card_icon_events.svg', 1) }}"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__title">События</p>
          <p class="card__text">
            Онлайн и офлайн мероприятия, которые мы организовываем или в которых
            участвуем.
          </p>
          <ul class="resource-list">
            <li><span class="resource-link">Вебинары</span></li>
            <li><span class="resource-link">Обзоры обновлений</span></li>
            <li><span class="resource-link">Конференции</span></li>
            <li><span class="resource-link">Выставки</span></li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</main>
